<%- include('partials/head')%>
<%- include('partials/nav')%>
<section  id="userSection">
  <div data-username="<%= name %>" data-email="<%= email %>" id="userNameDiv">
    <h2 id="username"><%- name %></h2>
  </div>
  <div id="friendsDiv">
    <h3 class="subTitle">My Friends</h3>
  </div>
</section>


<script type="module" src="/javascripts/user.js"></script>
<%- include('partials/footer') %>